.assignment{
  position: relative;
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 $spacer;
  & > *:not(:last-child){
    margin-bottom: 1rem;
  }
  &__list{
    padding-left: 0;
    & > *:not(:last-child){
      margin-bottom: 1rem;
    }
  }
  /* width */
&::-webkit-scrollbar {
  width: $spacer/2;
}

/* Track */
&::-webkit-scrollbar-track {
  border-radius: $spacer/2;
  background: $gray-200;
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: $gray-500; 
  border-radius: $spacer/2;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: $gray-600; 
}
}