@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4h47fc');
  src:  url('../fonts/icomoon.eot?4h47fc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4h47fc') format('truetype'),
    url('../fonts/icomoon.woff?4h47fc') format('woff'),
    url('../fonts/icomoon.svg?4h47fc#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-submitted:before {
  content: "\e900";
}
.icon-graded:before {
  content: "\e901";
}
.icon-evaluated:before {
  content: "\e902";
}
.icon-view-menu .path1:before {
  content: "\e903";
  color: currentColor;
}
.icon-view-menu .path2:before {
  content: "\e904";
  margin-left: -2.0380859375em;
  color: currentColor;
}
.icon-view-menu .path3:before {
  content: "\e905";
  margin-left: -2.0380859375em;
  color: currentColor;
}
.icon-view-menu .path4:before {
  content: "\e906";
  margin-left: -2.0380859375em;
  color: currentColor;
}
.icon-view-menu .path5:before {
  content: "\e907";
  margin-left: -2.0380859375em;
  color: currentColor;
}
.icon-view-menu .path6:before {
  content: "\e908";
  margin-left: -2.0380859375em;
  color: currentColor;
}
.icon-view-menu .path7:before {
  content: "\e909";
  margin-left: -2.0380859375em;
  color: currentColor;
}
.icon-view-all .path1:before {
  content: "\e90a";
  color: currentColor;
}
.icon-view-all .path2:before {
  content: "\e90b";
  margin-left: -1.689453125em;
  color: currentColor;
}
.icon-view-all .path3:before {
  content: "\e90c";
  margin-left: -1.689453125em;
  color: currentColor;
}
.icon-view-all .path4:before {
  content: "\e90d";
  margin-left: -1.689453125em;
  color: currentColor;
}
.icon-view-all .path5:before {
  content: "\e90e";
  margin-left: -1.689453125em;
  color: currentColor;
}
.icon-view-all .path6:before {
  content: "\e90f";
  margin-left: -1.689453125em;
  color: currentColor;
}
.icon-view-0 .path1:before {
  content: "\e910";
  color: currentColor;
}
.icon-view-0 .path2:before {
  content: "\e911";
  margin-left: -1.0830078125em;
  color: currentColor;
}
.icon-view-0 .path3:before {
  content: "\e912";
  margin-left: -1.0830078125em;
  color: currentColor;
}
.icon-view-0 .path4:before {
  content: "\e913";
  margin-left: -1.0830078125em;
  color: currentColor;
}
.icon-view-less .path1:before {
  content: "\e914";
  color: currentColor;
}
.icon-view-less .path2:before {
  content: "\e915";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-view-less .path3:before {
  content: "\e916";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-view-less .path4:before {
  content: "\e917";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-view-less .path5:before {
  content: "\e918";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-view-less .path6:before {
  content: "\e919";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-view-less .path7:before {
  content: "\e91a";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-view-less .path8:before {
  content: "\e91b";
  margin-left: -2.2578125em;
  color: currentColor;
}
.icon-feedback:before {
  content: "\e91c";
}
.icon-finish:before {
  content: "\e91d";
}
.icon-calendar:before {
  content: "\e91e";
}
.icon-preview:before {
  content: "\e91f";
}
.icon-edit:before {
  content: "\e920";
}
.icon-undock:before {
  content: "\e921";
}
.icon-plus:before {
  content: "\e922";
}
.icon-check:before {
  content: "\e923";
}
.icon-minus:before {
  content: "\ea0b";
}
